#menu {
  width:120px;
  margin:0px 0 20px 0;
}

#menu ul {
  list-style-type:none;
  padding:0px;
  margin:0px;
}

#menu ul li {
  width:120px;
  text-align:center;
  margin:20px 20px 0px 0;
}

#menu ul li a img {
  width:120px;
  height:120px;
}

#menu ul li a {
  display:block;
  font-size:16px;
}

#left_ad_block {
  position:absolute;
  left:-180px;
  top:0px;
}

#right_ad_block {
  position:absolute;
  right:-180px;
  top:0px;
}

#bottom_ad_block {
  width:728px;
  margin:30px auto 0 auto;
}

#bottom_fb_block {
  width:450px;
  margin:30px auto 0 auto;
}